<%- include('header', {data: data}); -%>
    <% if(success | success.length){ %>
    <div id="flashModal" class="flash-modal">
    <div class="flash-modal-content">
    <%= success %>
    </div>
    </div>
    <% } %>
    <div class="flexbox-container">
        
        <div class="new-note">
            <br><br><br>New Note<br><span id="new-note-symbol">+</span>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <% for(let note of data.slice().reverse()){ %>
        <div class="flexbox-item" id= <%= note._id %> >
            <div class="note-title"><%= note.title %></div>
            <div class="note-date"><%= note.dateModified %></div>
            <div class="note-content">
            <%= note.content %>
            </div>
        </div>
        <% } %>
        
    </div>

<%- include('footer', {data: data}); -%>

